<table class="table">
    <tr>
        <th>Email</th>
        <th>Edad</th>
        <th>Comentario</th>
    </tr>
    <% @users.each do |user| %>
        <tr>
        <td><%= user.email %> </td>
        <td><%= user.age %> </td>
        <td><%= user.message %> </td>
        </tr>
    <% end %>
</table>