<h1> Form 2.0 </h1>
<form method="get" action="/pages/create">
 email: <input name="email" type="email">
 age: <input name="age" type="number">
 <input type="submit" value="Enviar">
 Comment: <textarea name="comment"> </textarea>
</form>